.footer {
    width: 80%;
    height: 92px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  
    .site-name {
      span {
        font-size: 24px;
      }
    }
}

.line {
    margin-left: 10%;
    margin-right: 10%;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
  }