.points {
    font-size: 30px;
    line-height: 50px;
    font-weight: bold;
    margin-left: 10%;
}
.text3{
    font-size: 18px;
    line-height: 30px;
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
}